version: 2
jobs:
  build:
    docker:
      - image: python:3.11
    steps:
      - run:
          name: "Clone Repo"
          command: git clone https://github.com/MathisChatelain/P13.git
      - run:
          name: "Install Dependencies"
          command: cd P13 && pip install -r requirements.txt
      - run:
          name: "Prepare project"
          command: cd P13 && python manage.py migrate && python manage.py collectstatic
      - run:
          name: "Run Tests"
          command: cd P13 && pytest .
      - run:
          name: "Deploy"
          command: curl -X GET https://api.render.com/deploy/srv-cl2c1p2l7jac73fd2b9g?key=-5w9y6O0aS8
